.gradientbackground {
    height: 100%;
    background: linear-gradient(to right, #ff0000, #7b1f4a, #001f5c);

}

.editarProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .formEditarProduto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 90vh;

        .tittleEditarProduto {
            display: flex;
            align-items: center;
            gap: 20px;

            h2 {
                font-size: 30px;
                font-weight: 450;
                color: white;
                font-weight: 200;
                font-family: "Inter", sans-serif;
            }
        }

        p {
            font-size: 16px;
            margin-top: 20px;
            opacity: 60%;
        }

        /* campos */
        .editarCampoProduto {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            lable {
                font-size: 19px;
                font-weight: 500;
            }

            input {
                margin-top: 10px;
                width: 400px;
                padding: 17px;
                border-radius: 20px;
                font-size: 18px;
                border: none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                font-weight: 200;
                font-family: "Inter", sans-serif;


                &::placeholder {
                    font-size: 16px;
                    opacity: 80%;
                    color: black;
                }
            }
        }

        .EditarPreco {
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            lable {
                font-size: 19px;
                font-weight: 500;
            }

            input {
                margin-top: 10px;
                width: 400px;
                padding: 17px;
                font-size: 18px;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                font-weight: 200;
                font-family: "Inter", sans-serif;


                &::placeholder {
                    font-size: 16px;
                    opacity: 80%;
                    color: black;
                }
            }
        }

        .editarQuant {
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            lable {
                font-size: 19px;
                font-weight: 500;
            }

            input {
                margin-top: 10px;
                width: 400px;
                padding: 17px;
                font-size: 18px;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                font-weight: 200;
                font-family: "Inter", sans-serif;


                &::placeholder {
                    font-size: 16px;
                    opacity: 80%;
                    color: black;
                }
            }
        }

        .editarDesc {
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            lable {
                font-size: 19px;
                font-weight: 500;
            }

            input {
                margin-top: 10px;
                width: 400px;
                padding: 17px;
                font-size: 18px;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                font-weight: 200;
                font-family: "Inter", sans-serif;


                &::placeholder {
                    font-size: 16px;
                    opacity: 80%;
                    color: black;
                }
            }
        }

        .catEditarProduto {
            margin-top: 15px;

            select {
                margin-top: 10px;
                width: 400px;
                padding: 17px;
                border-radius: 20px;
                
                border: none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                font-size: 18px;
                appearance: none;
                cursor: pointer;
                font-weight: 200;
                font-family: "Inter", sans-serif;
            }
        }
    }

    .partedois {
        display: flex;
        flex-direction: column;
        align-items: center;

        .uploadContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;

            .inputFile {
                display: none;
            }

            .uploadLabel {
                padding: 10px 50px;
                background-color: none;
                background-color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                border-radius: 20px;
                margin-top: 10px;
                font-weight: 200;
                font-family: "Inter", sans-serif;
                color: white;

            }

            .imagemAtual {

                img {
                    object-fit: cover;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 30px;
                    padding: 15px;
                    width: 300px;
                    height: 300px;
                    margin-top: 50px;
                }
            }
        }

        input {
            width: 400px;
            text-decoration: none;

        }



    }

    .botoes {
        display: flex;
        margin-top: 20px;
        gap: 10px;

        .btncancelar {

            button {
                position: relative;
                cursor: pointer;
                background-color: #F0F2F5;
                color: rgb(0, 0, 0);
                border-radius: 20px;
                border: none;
                width: 150px;
                padding: 12px;
                font-size: 17px;
                font-weight: 450;
                overflow: hidden;
                z-index: 0;
                transition: color 0.3s ease;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: #D0D3D8;
                    z-index: -1;
                    transition: width 0.3s ease;
                }

                &:hover::before {
                    width: 100%;
                }

                &:hover {
                    color: black;
                }
            }
        }

        .btnsalvar {

            button {
                position: relative;
                cursor: pointer;
                background-color: #0C1B30;
                color: rgb(255, 255, 255);
                border-radius: 20px;
                border: none;
                width: 150px;
                padding: 12px;
                font-size: 17px;
                font-weight: 450;
                overflow: hidden;
                z-index: 0;
                transition: color 0.3s ease;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: #3b4553;
                    z-index: -1;
                    transition: width 0.3s ease;
                }

                &:hover::before {
                    width: 100%;
                }

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }

        .btndeletar {

            button {
                position: relative;
                cursor: pointer;
                background-color: #e90b0b;
                color: rgb(255, 255, 255);
                border-radius: 20px;
                border: none;
                width: 150px;
                padding: 12px;
                font-size: 17px;
                font-weight: 450;
                overflow: hidden;
                z-index: 0;
                transition: color 0.3s ease;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: #bd1a1a;
                    z-index: -1;
                    transition: width 0.3s ease;
                }

                &:hover::before {
                    width: 100%;
                }

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }


    }
}

.gradientbackground .botoes button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    border: none;
    transition: background-color 0.3s ease;
}

.gradientbackground .botoes button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}



label {
    color: white;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    font-size: 22px;
}


hr {
    margin-top: 30px;
}

.title {
    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        font-family: "Inter", sans-serif;
        font-size: 40px;
        color: white;
        padding: 20px;
    }
}