body {
    background-color: #CECECE;
    position: relative;
}

.homeimg {
    display: flex;

    img {
        display: flex;
        width: 100%;
    }
}

.especialimg {
    display: flex;
    width: 100%;
    height: 700px;
    z-index: 5;
    object-fit: cover;
}

.special {
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        top: 1;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 100px;
        font-weight: 20;
    }
}

.INV {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Wrapper externo colorido */
.sectionWrapper {
    padding: 40px 0;
}

/* Alternando cores no wrapper */
.sectionWrapperRed {
    background-color: #2C2C2C;
    height: 100vh;
}

.sectionWrapperBlue {
    background-color: #CECECE;
    margin-bottom: 90px;
}



/* Card individual */
.card1 {
    background-color: white;
    padding: 30px;
    border-radius: 20px;

    .icone {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    hr {
        margin: 15px;
    }

    svg {
        display: flex;
        margin-left: 160px;
        color: #ffa600;
    }

    &:hover {
        transform: scale(1.05);
        transition: .6s;
        object-fit: cover;
    }
}

h5 {
    display: flex;
    font-weight: 200;
    padding: 5px;
    font-family: "Inter", sans-serif;
    margin-top: -30px;
}

.bot {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 12px;
    background-color: #363636;
    text-decoration: none;
    z-index: 5;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #ffa600;
    font-family: "Inter", sans-serif;
    font-style: italic;
    gap: 12px;

    &:hover {
        cursor: pointer;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
    


    h2 {
        font-size: 2.1rem;      
        color: #ffa600;
        font-family: "Inter", sans-serif;
        text-shadow: 2px 2px 4px black; /* cria sombra preta para destacar */
        font-weight: 200;
        margin-top: -300px;
        font-style: italic;
     
    }

    hr {
        width: 600px;
        margin-top: -140px;
        
    }
}

/* Container interno centralizado com largura fixa */
.cards {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -130px;
    gap: 101px;

    h2 {
        font-weight: 200;
        font-family: "Inter", sans-serif;
    }

    h6 {
        font-weight: 200;
        padding: 10px;
        font-size: 14px;
        font-family: "Inter", sans-serif;

    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        font-family: "Inter", sans-serif;
        font-style: italic;
        font-size: 18px;
    }
}